node_modules/
.env

# ignore the database's internal files
database-data/*

# Keep the database-data folder for future reference
!database-data/

# do not commit admin level credentials
credentials.json

# ignore the build folder which was built for the frontend
build