node_modules/
.env

# ignore the database-data folder 
database-data/

# do not commit admin level credentials
credentials.json

# ignore the build folder which was built for the frontend
build

# ignore the files used for Google Cloud
backend/.gcloudignore
backend/app.yaml
backend/prod-env.yaml